:root{
    --light-header-container-color: rgba(0, 0, 0, 0.856);
    --light-font-color: white;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

a{
    color: green;
}


.header-nav, #login-button{
    display: none;
}


body{
    background-image: url('doc/imgs/');
    background-color: black;
}

header {
    z-index: 0;
}

.header-content{
    background-color: black;
    height: 25vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
    /* text-transform: uppercase; */
}

.logo{
    /* background-color: rgb(47, 0, 255); */
    width: 45vw;
    height: 20vw;
    background-image: url('doc\\imgs\\logo-light.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.burger-menu{
    /* background-color: rgba(51, 51, 51, 0.521); */
    /* height: fit-content; */
    width: 15vw;
    height: 15vw;
    margin: auto 20px auto 0;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s;
    /* background-color: #4CAF50; */
}

.burger-menu img{
    width: 14vw;
    filter: invert();
}

/* -------------------------------------- */

.container{
    background-color: var(--light-header-container-color);
    width: 90vw;
    margin: auto;
    border-radius: 10%;
    padding: 5vw;
    text-align: center;
    margin-top: 30vw;
    color: white;
}

.container-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.8vw;
    margin-bottom: 5vw;
}

.button{
    /* background-color: aqua; */
    display: flex;
    width: 70vw;
    height: 25vw;
    margin: 10vw auto auto auto;
    border:2px white solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.active{
    background-color: rgba(255, 255, 255, 0.418);
}

.mobile-menu{
    padding-top: 6vh;
    z-index: 999;
    position: fixed;
    background-color: rgb(0, 0, 0);
    margin-top: -8vw;
    width: 100vw;
    height: 100vh;
    transform: translateX(-120%);
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    transform: translateX(-120%);
    transition: transform 0.4s ease-in-out;
    overflow: scroll;
}

.opened-menu{
    transform: translateX(0)
}

.mobile-menu-button{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 3vw auto 3vw auto;
    border: 6px solid rgb(211, 211, 211);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width: 90vw;
    /* text-transform: uppercase; */
    font-weight: 900;
}
/* -------------- */

#background-rotator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.bg-layer.visible {
    opacity: 1; 
}

header {

    position: fixed; 
    z-index: 999;
    width: 100vw;
    margin-top: -30vw;
}

main {
    position: relative;
    z-index: 1; 
}

/* ------------------------------ */
/*              Login */

.credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-credentials{
    width: 50vw;
    height: 12vw;
    margin-bottom: 15px;
    font-size: 3vw;
}

.login-button{
    color: white;
    font-size: 6vw;
    height: 15vw;
    width: 50vw;
    margin-bottom: 3vw;
    background-color: transparent;
}




/* ------------------------------ */

/* Sobre */

/* Contato */

.containercontato {
    background-color: var(--light-header-container-color);
    width: 90vw;
    /* height: 140vw; */

    margin: auto;
    border-radius: 20px;
    padding: 5vw;
    text-align: center;
    margin-top: 30vw;
}

.form-section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.form-left, .form-right {
    flex: 1;
    min-width: 180px; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    min-height: 150px;
    resize: vertical;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

.send-button {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: right; 
    margin-right: 20vw;

}

.h2contato {
    text-align: center;
    color: var(--light-font-color);
    margin-bottom: 30px;
    font-size: 28px;
}

/* Vagas */

.containervagas {
    background-color:var(--light-header-container-color);
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    padding: 5vw;
    text-align: center;
    margin-top: 30vw;
    min-height: 80vh;
}

.h2vagas {
    text-align: center;
    color: var(--light-font-color);
    margin-bottom: 30px;
    font-size: 28px;
}

.institution-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 120px; 
    transition: 0.5s;
}

.institution-card-overlay :hover{
    background-color: white;
}

.institution-card-image {
    position: absolute;
    background-color: rgb(19, 0, 63);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1; 
}

.institution-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 70%);  */
    z-index: 2; 
    border-radius: 10px; 
}

 .institution-card-text {
    color: white;
    font-size: 28px; 
    font-weight: bold;
    padding: 0 20px;
    z-index: 3; 
    position: relative; 
}

.card-iftm .institution-card-overlay {
    background: linear-gradient(to right, rgba(76, 175, 80, 0.7) 15%, rgba(76, 175, 80, 0.3) 30%, rgba(76, 175, 80, 0) 70%);
}
.card-uemg .institution-card-overlay {
    background: linear-gradient(to right, rgba(175, 76, 80, 0.7) 0%, rgba(175, 76, 80, 0.3) 30%, rgba(175, 76, 80, 0) 70%);
}
.card-ufu .institution-card-overlay {
    background: linear-gradient(to right, rgba(66, 133, 244, 0.7) 0%, rgba(66, 133, 244, 0.3) 30%, rgba(66, 133, 244, 0) 70%);
}

.container::-webkit-scrollbar {
    width: 10px; 
}
.container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input, textarea{
    color: black;
}

.add-institution{
    display: flex;
    background-color: #4caf4f;
    width: 45vw;
    border-radius: 10px;
    padding: 2.5vw;
    height: 20vw;
    /* margin: 4vw auto 4vw auto; */
    color: white;
    align-items: center;
    font-size: 3.5vw;
    transition: 0.5s;
}

.add-institution-link{
    margin: 2vw auto;
    display: flex;
    width: fit-content;
    text-decoration: none;
}

.add-institution-link :hover{
    background-color: #016901;
}


    @media (min-width: 768px) {

        .header-content{
            height: 6vw;
            background-color: var(--light-header-container-color);
        }
        
        header{
            min-width: auto;
            width: 100%;
            margin-top: 0px;
            position: relative;
        }

        .burger-menu{
            display: none;
        }

        .header-nav, #login-button{
            display: flex;
            margin: auto;
            display: flex;
            gap: 7vw;
            width: 50vw;
            justify-content: center;
            align-items: center;
            height: 6vw;
            font-size: 1.4vw;
            transition: 0.5s;
            margin-top: -2vw;
            margin-left: 20vw;
        }

        .header-nav a{
            text-decoration: none;
        }

        #login-button{
            width: 2em;
            text-decoration: none;
            color: green;
            font-weight: bold;
            margin-top: 0px;
        }

        .logo{
            width: 14vw;
            margin-top: -0.5vw;
            height: 4vw;
            background-size: cover;
            background-position: center center;
            /* background-color: #4CAF50; */
        }

        .container{
            margin-top: -5vw;
            /* min-height: 60vh; */
            width: 60vw;
            border-radius: 50px;
            margin-bottom: 2vw;
            font-size: 1vw;
            padding: 2vw;
        }

        .container-header{
            /* background-color: #4CAF50; */
            font-size: 1vw;
            margin-bottom: 3vw;

        }

        .container-main{
            font-size: 1.2vw;
        }

        .button{
            margin: 2vw auto 3vw auto;
            width: 20vw;
            height: 5vw;
            transition: 0.5s;
            font-size: 2vw;
        }

        .button:hover{
            background-color: #4caf4f5b;
        }

        .header-nav-option{
            transition: 0.5s;
            width: 18vw;
            padding: 5px;
            border-radius: 10px;
            text-align: center;
            color: white;
        }

        .header-nav :hover{
            color: rgb(0, 156, 34);
        }

        #login-button:hover{
            color: white;
        }

        .containercontato{
            margin-top: -4vw;
            height: fit-content;
            border-radius: 30px;
        }

        #description{
            height: 12vw ;
        }

        .send-button{
            margin-right: 34vw;
            width: 12vw;
            height: 4vw;
        }

        .containervagas{
            margin-top: -5vw;
        }

        main{
            padding-bottom: 2vw;
        }

        .login-credentials{
            width: 20vw;
            height: 3vw;
            font-size: 1.2vw;
        }

        .container p{
            font-size: 1.5vw;
        }

        .forget-password{
            margin-left: 20vw;
        }

        .add-institution{
            display: flex;
            align-items: center;
            width: 20vw;
            height: 10vw;
            font-size: 2vw;
        }
        
        .add-institution-link{
            text-decoration: none;

        }

    }