*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url('docs/imgs/');
}

header {
    background-color: rgba(51, 51, 51, 0.521);
    height: 25vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
}

.logo{
    /* background-color: rgb(47, 0, 255); */
    width: 45vw;
    height: 20vw;
    background-image: url('doc/imgs/logo-light.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.burger-menu{
    /* background-color: rgba(51, 51, 51, 0.521); */
    height: fit-content;
    margin: auto 20px auto 0;
    /* background-color: royalblue; */
    display: flex;

}

.burger-menu i{
    font-size: 12vw;
}

/* -------------------------------------- */

.container{
    background-color: rgba(0, 0, 0, 0.418);
    width: 90vw;
    height: 100vw;
    margin: auto;
    border-radius: 10%;
    padding: 5vw;
    text-align: center;
}

.container-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.8vw;
    margin-bottom: 5vw;
}

.button{
    /* background-color: aqua; */
    display: flex;
    width: 70vw;
    height: 25vw;
    margin: 10vw auto auto auto;
    border:2px white solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
}
